<html>
<head>
    <title>Upload Test Complete</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(
        function(){
            $('input:submit').attr('disabled',true);
            $('input:file').change(
                function(){
                    if ($(this).val()){
                        $('input:submit').removeAttr('disabled'); 
                    }
                    else {
                        $('input:submit').attr('disabled',true);
                    }
                });
        });</script>
</head>
<body>
    <form action = "/success" method = "post" enctype="multipart/form-data">
        <input type="file" name="fName" >
        <input type = "submit" value="Upload">
    </form>
    <a href="/choose">Pick an existing file instead</a><br>
    <a href="/uploaded/lcm.py">Try to access file</a>
</body>
</html>