<html>
<head>
<title>The MUSIC MAKER!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(
        function(){
            $('input:submit').attr('disabled',true);
            $('input:file').change(
                function(){
                    if ($(this).val()){
                        $('input:submit').removeAttr('disabled'); 
                    }
                    else {
                        $('input:submit').attr('disabled',true);
                    }
                });
        });</script>
    <!--last script for magenta?
    script for listening-->
</head>
<body>
    <h1>
        Welcome one, welcome all, to the All-Powerful 
        <i><b><span style="color:#ff8000">MUSIC</span> <span style="color:#33cc33">MAKER</span></b></i>!!
    </h1>
    <form action = "/success" method = "post" enctype="multipart/form-data">
        <input type="file" name="fName" >
        <input type = "submit" value="Upload">
    </form>
    <a href="/choose">Pick an existing file instead</a><br>
    {{!--<a href="/uploaded/lcm.py">Try to access file</a><br>--}}
    <p>Don't have a MIDI file to upload? 
    <a href="https://onlinesequencer.net/" target="_blank">Create a MIDI file here.</a>
    <br>Download it there, and then reupload it here!</p>
</body>
</html>