<html><head><title>File Selection</title></head>
<body><h2>Choose a file:</h2>
<form>
	<select size="6">
	    <option>JDapaah.MITRE_Resume19.docx</option>
	    <option>lcm.py</option>
	    <option>old bashrc</option>
	    <option>loop_until_formatted.txt</option>
	    <option>phage_ids_with_affiliation.tsv</option>
	    <option>Untitled.txt</option>
	</select><br>
	<input type ="submit" value="Choose this file">
</form>
<a href="/">Go back to upload!</a>
</body>
</html>
